# base url to check
site = "https://bobjohnson.com/"

# timeout for all requests
request_timeout = 30

# minimum pause between requests to site
site_throttle = 3

# minimum pause between requests to check external links
ext_site_throttle = 10

# urls to ignore (one or more urls)
ignore = "https://facebook.com/BobJohnson"
ignore = "https://twitter.com/"

# urls to translate (one or more url pairs)
translate = "http://www.youtube.com/BobJohnson https://www.youtube.com/user/BobJohnson"

# set to 1 in order to retry with GET request on status 4xx
retry_with_get = 1

# create a bad links json report file
bad_links_report_json = "path/to/report.json"
