# base url to check, the only required setting
site = "https://bobjohnson.com/"

# log level 0-9
log_level = 0

# log file path
log_file = "/path/to/linkchecker_log"
truncate_log_file = 0

# stop after X pages
max_pages = 100000

# timeout for all requests
request_timeout = 30

# minimum pause between requests to site
site_throttle = 3

# minimum pause between requests to check external links
ext_site_throttle = 10

# urls to ignore (one or more urls)
ignore = "https://facebook.com/BobJohnson"
ignore = "https://twitter.com/"

# urls to translate (one or more url pairs)
translate = "http://www.youtube.com/BobJohnson https://www.youtube.com/user/BobJohnson"

# list status codes to retry with GET
retry_with_get = "405 403"

# include warnings in report for redirects to different hosts
warn_redirect_to_other_host = 0

# include warnings in report for all redirects
warn_all_redirect = 0

# create a bad links json report file, if warnings are enabled they will also be in bad links json file
bad_links_report_json = "/path/to/report.json"
